.login{
  min-height: 100vh;
} 

body{
    background-color: azure;
}

.pl-5 {
    /* padding-left: 25rem !important; */
    /* margin-top: -46px; */
  }
  .pl-5:hover{
      cursor: pointer;
      text-decoration: underline;
  }

  .custom-control {
    /* position: relative;
    display: block;
    min-height: 1.5rem; */
    /* padding-left: 3rem; */
  }

  .mt-5{
    margin-top: 13rem !important;
  }

  .col-xl-8 {
    
    max-width: 100.00%;
    
    justify-content: space-between;
  }